<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>deleteTwitter</title>
  </head>
  <body>
    <main>
      <h1>過去ツイ一括削除ツール</h1>
      <div class="">
        <p>恥ずかしいあんなツイート、思い出したくもないあんなツイートを自分で探して消す必要はありません！<br>
          ワンツーステップで代わりに消します！料金は一切かかりません</p>
      </div>
      <div class="">
          <button class="btn btn-primary" type="button" onclick="location.href='post'">今すぐ過去のツイとさよならする</button>
        </div>
      </div>
    </main>
  </body>
</html>
